<div id="main_content">
	<div id="header">
		<% if current_page?(posts_path)  %>
			<p>All Posts</p>
		<% elsif current_page?(about_path) %>
			<p>About</p>
		<% else  %>
			<%= link_to "Back to All Posts", posts_path  %>
		<% end %>

		<% if user_signed_in?  %>
		<div class="buttons">
			<button class="button"><%= link_to "New Post", new_post_path  %></button>
			<button class="button"><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %></button>
		</div>
		<% end %>
	</div>

	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do  %>
			<%= image_tag "logo.png" %>
			<% end  %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Home Page", root_path  %></li>
			<li><%= link_to "Blog", posts_path  %></li>
			<li><%= link_to "About", about_path  %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://twitter.com/J_cd88">Twitter</a></li>
			<li><a href="https://www.facebook.com/Gsxr600soup">Facebook</a></li>
			<li><a href="https://www.linkedin.com/in/jaycdave">LinkedIn</a></li>
			<li><a href="https://github.com/jaycdave88">Github</a></li>
		</ul>
		<% if !user_signed_in? %>
		<p class="sign_in"><%= link_to "Admin Login",new_user_session_path %></p>
		<% end %>
	</div> 

