<div class="page">
	<span class="menu_toggle">
		<i class="menu_open fa fa-align-justify fa-lg"></i>
		<i class="menu_close fa fa-times fa-lg"></i>
	</span>
	<!-- open and close -->

	<ul class="menu_items">
		<li><a href="/"><i class="fa fa-home "></i> Home</a></li>
		<li><a href="/posts"><i class="fa fa-book "></i> Blog</a></li>
		<li><a href="/about"><i class="fa fa-info "></i> About</a></li>
		<% if !user_signed_in? %>
		<li><p class="sign_in"><%= link_to "Admin Login",new_user_session_path %></p></li>
		<% end %>
		<br>
		<br>
		<br>
	</ul>
	<!-- side links -->
	<main class="content">
		<div class="content_inner">

			<div id="main_content">
				<div id="header">
					<% if current_page?(posts_path)  %>
					<p>All Posts</p>
					<% elsif current_page?(about_path) %>
					<p>About</p>
					<% else  %>
					<%= link_to "Back to All Posts", posts_path  %>
					<% end %>

					<% if user_signed_in?  %>
					<div class="buttons">
						<button class="button tiny success"><%= link_to "New Post", new_post_path  %></button>
						<button class="button tiny alert"><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %></button>
					</div>
					<% end %>
				</div>

				<div class="all_posts">
					<% @posts.each do |post|  %>
					<div class="post_wrapper">
						<p class="date"><%= post.created_at.strftime("%B, %d, %Y")  %></p>
						<h3 class="title"><%= link_to post.title, post %></h3>
						
					</div> 
					<% end  %>
				</div>

			</div>
		</main>
	</div>
</div>
<%= render 'footer' %>




