<div class="page">
		<span class="menu_toggle">
		<i class="menu_open fa fa-align-justify fa-lg"></i>
		<i class="menu_close fa fa-times fa-lg"></i>
	</span>
	<!-- open and close -->

	<ul class="menu_items">
		<li><a href="/"><i class="fa fa-home "></i> Home</a></li>
		<li><a href="/posts"><i class="fa fa-book "></i> Blog</a></li>
		<li><a href="/about"><i class="fa fa-info "></i> About</a></li>

		<% if !user_signed_in? %>
		<li><p class="sign_in"><%= link_to "Admin Login",new_user_session_path %></p></li>
		<% end %>
		<br>
		<br>
		<br>

	</ul>
	<main class="content">
		<div class="content_inner">

			<% if current_page?(posts_path)  %>
			<p>All Posts</p>
			<% elsif current_page?(about_path) %>
			<p>About</p>
			<% else  %>
			<%= link_to "Back to All Posts", posts_path, :class => "button disabled tiny radius "  %>
			<% end %>

			<div id="post_conent">

				<h1 class="title">
					<%= @post.title  %>
				</h1>

				<p class="date">
					Submitted <%= time_ago_in_words(@post.created_at) %> Ago
					<% if user_signed_in? %>
					| <%= link_to "Edit", edit_post_path(@post) %>
					| <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}  %>
					<% end %>
				</p>

				<p class="body">
					<%= @post.body  %>
				</p>

				<div id="comments">
					<h2><%= @post.comments.count  %> Comments</h2>
					<%= render @post.comments  %>
					<h3>Add a comment:</h3>
				</div>
			</div>

					<%= render "comments/form"  %>
					<br>
		</div>
	</main>

</div>


<%= render 'footer' %>

