<div id="owl-demo">
  <div class="item"><img src="<%=asset_path( 'solo1.jpg')%>" alt="Solo"></div>
<<<<<<< HEAD
  <div class="item"><img src="<%=asset_path( 'feed.jpg')%>" alt="Elephant"></div>
=======
  <div class="item"><img src="<%=asset_path( 'profilePic.jpg')%>" alt="Wedding"></div>
>>>>>>> c6ad969b24bc100bd42b7b4722191d93bce4ed0a
  <div class="item"><img src="<%=asset_path( 'boston.jpg')%>" alt="Boston"></div>
  <div class="item"><img src="<%=asset_path( 'newYearsRun.jpg')%>" alt="New Years Marathon"></div>
  <div class="item"><img src="<%=asset_path( 'family.jpg')%>" alt="Family"></div>
  <div class="item"><img src="<%=asset_path( 'grandparents.jpg')%>" alt="Grandparents"></div>
  <div class="item"><img src="<%=asset_path( 'indianJungle.jpg')%>" alt="Indian Jungle"></div>
  <div class="item"><img src="<%=asset_path( 'taj.jpg')%>" alt="Taj Mahal"></div>
  <div class="item"><img src="<%=asset_path( 'utah.jpg')%>" alt="Utah"></div>
<<<<<<< HEAD
  <div class="item"><img src="<%=asset_path( 'hiking.jpg')%>" alt="Hiking"></div>
  <div class="item"><img src="<%=asset_path( 'rocks.jpg')%>" alt="Climbing Rocks"></div>
  <div class="item"><img src="<%=asset_path( 'singapour.jpg')%>" alt="Singapour"></div>
  <div class="item"><img src="<%=asset_path( 'snork.jpg')%>" alt="Snorkeling"></div>
=======
>>>>>>> c6ad969b24bc100bd42b7b4722191d93bce4ed0a
</div>
