<div class="row">
  <div class="large-12 columns"></div>
  <div id="headers">
    <h2 class='headers'>
      <br>
      <span class="line_center">
        <a name="timeline" style="cursor:default" >
          Timeline
        </a>
      </span>
    </h2>

    <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>Alien Shooter Game </h3>
        <br>
        <a href="/uc.html"target="_blank"><img class="project-img"src="<%=asset_path('alien_shooter.png')  %>"></a>
        <span class="cd-date">May 28</span> 
      </div>
    </div>

    <div class="cd-timeline-block">
     <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>eCommerce </h3>
        <br>
        <a href="https://ecommerce-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('ecom.png')  %>"></a>
        <span class="cd-date">May 24</span> 
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>Workout App</h3>
        <br>
        <a href="https://workout-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('workout.png')  %>"></a>
        <span class="cd-date">May 19</span> 
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
      <div class="cd-timeline-content">
        <h3>Blog</h3>
        <br>
        <a href="http://www.jaycdave.com/posts"target="_blank"><img class="project-img"src="<%=asset_path('blog.png')  %>"></a>
        <span class="cd-date">May 4</span> </div>
      </div>
      <button class="accordion-header" id="expander"><i class="fa fa-ellipsis-h"></i></button>
      <div class="hidden">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
          <div class="cd-timeline-content">
            <h3>Recipe Book</h3>
            <br>
            <a href="https://recipe-book-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('recipe.png')  %>"></a>
            <span class="cd-date">April 7</span> </div>
          </div>


          
          <!-- everything under is hidden -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
            <div class="cd-timeline-content">
              <h3>Loan Application</h3>
              <br>
              <a href="https://loan-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('loan.png')%>"></a>
              <span class="cd-date">March 30</span> </div>
            </div>

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
              <div class="cd-timeline-content">
                <h3>Worked at Apple (MindSource, Inc.)</h3>
                <p>as a:</p>
                <h6>Software and QA Engineer</h6>
                <span class="cd-date">Dec 1</span></div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Movie"></div>
                <div class="cd-timeline-content">
                  <h3>Worked at Dev Bootcamp </h3>
                  <p>as a:</p>
                  <h6> Phase 0 Instructor</h6>
                  <span class="cd-date">Oct 27</span> </div>
                </div>

                <div class="cd-timeline-block">
                  <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
                  <div class="cd-timeline-content">
                    <h3>Mission-Control-DBC</h3>
                    <br>
                    <a href="https://mission-control-dbc.herokuapp.com/ "target="_blank"><img class="project-img"src="<%=asset_path('mission.png')  %>"></a>
                    <span class="cd-date">Oct 19</span> </div>
                  </div>

                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie"><img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
                    <div class="cd-timeline-content">
                      <h3>Out-There</h3>
                      <br>
                      <a href="http://www.out-there.io/" target="_blank"><img class="project-img"src="<%=asset_path('out-there.png')  %>"></a>
                      <span class="cd-date">Sept 26</span></div>
                    </div>

                    <div class="cd-timeline-block">
                      <div class="cd-timeline-img cd-picture"><img src="<%=asset_path( 'rocket.svg')%>" alt="Movie"></div>
                      <div class="cd-timeline-content">
                        <h3>Attended Dev Bootcamp</h3>
                        <p>Intensive educational program concentrating on full stack web development with a focus on Ruby on Rails and an emphasis on engineering empathy.</p>
                        <a href="http://devbootcamp.com/learn-ruby-javascript/overview/" class="cd-read-more">Read more</a> <span class="cd-date">June 2</span> </div>
                      </div>
                      

                      <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Movie"> </div>
                        <div class="cd-timeline-content">
                          <h3>Moved to San Francisco</h3>
                          <p>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.”
                            <br> 
                            -Andre Gide </p>
                            <span class="cd-date">Jan 5</span></div>
                          </div>

                        </div>
                      </div>



                    </section>
                  </div>




