<div id="headers">
  <h2 class='headers'>
    <span class="line_center">
      <a name="time_line" style="cursor:default">
        Projects
      </a>
    </span>
  </h2>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
      <!-- cd-timeline-img -->
      <div class="cd-timeline-content">
        <h2>Title of section 1</h2>
        <p> Content 1 </p>
        <a href="#0" class="cd-read-more">Read more</a> <span class="cd-<a href="http://www.jqueryscript.net/time-clock/">date</a>">Jan 14</span> </div>
        <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
        <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>Title of section 2</h2>
          <p> Content 2 </p>
          <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 18</span> </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Title of section 3</h2>
            <p> Content 3 </p>
            <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 24</span> </div>
            <!-- cd-timeline-content -->
          </div>
          <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Location"> </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Title of section 4</h2>
              <p> Content 4 </p>
              <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 14</span> </div>
              <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Location"> </div>
              <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>Title of section 5</h2>
                <p> Content 5 </p>
                <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 18</span> </div>
                <!-- cd-timeline-content -->
              </div>
              <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>Final Section</h2>
                  <p> Content 6 </p>
                  <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 26</span> </div>
                  <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
              </section>
            </div>

            <div id="headers">
              <h2 class='headers'>
                <span class="line_center">
                  <a name="contact_me" style="cursor:default">
                    Contact Me
                  </a>
                </span>
              </h2>
              <p>INPUT CONTACT INFO HERE</p>
            </div>
