<div id="headers">
  <h2 class='headers'>
    <span class="line_center">
      <a name="time_line" style="cursor:default">
        Projects
      </a>
    </span>
  </h2>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
      <!-- cd-timeline-img -->
      <div class="cd-timeline-content">
        <h2>Title of section 1</h2>
        <p> Content 1 </p>
        <a href="#0" class="cd-read-more">Read more</a> <span class="cd-<a href="http://www.jqueryscript.net/time-clock/">date</a>">Jan 14</span> </div>
        <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
        <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>Title of section 2</h2>
          <p> Content 2 </p>
          <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 18</span> </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Title of section 3</h2>
            <p> Content 3 </p>
            <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 24</span> </div>
            <!-- cd-timeline-content -->
          </div>
          <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Location"> </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Title of section 4</h2>
              <p> Content 4 </p>
              <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 14</span> </div>
              <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Location"> </div>
              <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>Attended Dev Bootcamp</h2>
                <p>Intensive educational program concentrating on full stack web development with a focus on Ruby on Rails and an emphasis on engineering empathy.</p>
                <a href="http://devbootcamp.com/learn-ruby-javascript/overview/" class="cd-read-more">Read more</a> <span class="cd-date">June 2</span> </div>
                <!-- cd-timeline-content -->
              </div>
              <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>Moved from Chicago</h2>
                  <p>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.”
                    <br> 
                  -Andre Gide </p>
                  <span class="cd-date">Jan 5</span></div>
                  <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
              </section>
            </div>

            
