<div id="headers">
  <h2 class='headers'>
    <span class="line_center">
      <a name="time_line" style="cursor:default">
        Timeline
      </a>
    </span>
  </h2>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
      <!-- cd-timeline-img -->
      <div class="cd-timeline-content">
        <h2>Worked at Apple</h2>
        <p>Software and QA Engineer</p>
        <span class="cd-date">Dec 1</span></div>
        <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
        <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>Worked at Dev Bootcamp </h2>
          <p> Phase 0 Instructor</p>
          <span class="cd-date">Oct 27</span> </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->



        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Mission-Control-DBC</h2>
            <p>Team lead & follow collaborator</p>
            <a href="https://mission-control-dbc.herokuapp.com/" class="cd-read-more">View Link</a> <span class="cd-date">Sept 26</span> </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Out-There</h2>
            <p>Dreamer, Designer, Programmer and Tester</p>
            <a href="https://out-there.herokuapp.com/" class="cd-read-more">View Link</a> <span class="cd-date">Sept 26</span> </div>



            <!-- cd-timeline-content -->
          </div>
          <!-- cd-timeline-block -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Location"> </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Attended Dev Bootcamp</h2>
              <p>Intensive educational program concentrating on full stack web development with a focus on Ruby on Rails and an emphasis on engineering empathy.</p>
              <a href="http://devbootcamp.com/learn-ruby-javascript/overview/" class="cd-read-more">Read more</a> <span class="cd-date">June 2</span> </div>
              <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
              <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>Moved to San Francisco</h2>
                <p>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.”
                  <br> 
                  -Andre Gide </p>
                  <span class="cd-date">Jan 5</span></div>
                </div>
              </section>
            </div>


