<div class="row">
  <div class="large-12 columns"></div>
  <br>
  <div id="headers">
    <h2 class='headers'>
      <span class="line_center">
        <a name="timeline" style="cursor:default" >
          Timeline
        </a>
      </span>
    </h2>
  </div>

    <section id="cd-timeline" class="cd-container">


      <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>iOut-There</h3>
        <br>
        <a href="#ioutthere"><img class="project-img"src="<%=asset_path('iOut-There.png')  %>"></a>
        <span class="cd-date">Aug 23</span> 
      </div>
    </div>

          <div id="ioutthere" class="overlay light">
      <a class="cancel" href="#exit"></a>
      <div class="popup">
        <h2>iOut-There</h2>
        <div class="content">
          <p>Is an iOS App built in Objective-C.</p><p>iOut-There, allows everyone and anyone to view pictures from anywhere in the World.</p>
          <a href="https://ioutthere.wordpress.com/" class="blue">Website</a>
          <p><a href="https://itunes.apple.com/us/app/iout-there-search-view-pictures/id1033060800?ls=1&mt=8" class="blue">App Store</a></p>
        </div>
      </div>
    </div>


       <div id="geocoder" class="overlay light">
      <a class="cancel" href="#exit"></a>
      <div class="popup">
        <h2>Geo-Coder</h2>
        <div class="content">
          <p>Is an iOS App built in Objective-C.</p> <p>Geo-Coder, allows anyone to find the latitude and longitude of any place or landmark and even their current location!</p>
        </div>
      </div>
    </div>

      <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>Geo-Coder</h3>
        <br>
        <a href="#geocoder"><img class="project-img"src="<%=asset_path('geolocat.png')  %>"></a>
        <span class="cd-date">Aug 11</span> 
      </div>
    </div>



     <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>iTip-Calculator</h3>
        <br>
        <a href="#itipCalculator"><img class="project-img"src="<%=asset_path('iTipCalculator.png')  %>"></a>
        <span class="cd-date">Jul 21</span> 
      </div>
    </div>

    <div id="itipCalculator" class="overlay light">
      <a class="cancel" href="#exit"></a>
      <div class="popup">
        <h2>iTip-Calculator</h2>
        <div class="content">
          <p>Is an iOS App built in Objective-C.</p> <p>Use iTip-Calculator for all your tipping needs on your iPhone or iPod Touch! It will also easily split the bill among your party members.</p>
          <a href="https://itipcalculator.wordpress.com/" class="blue">Website</a>
          <p><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1027501674&mt=8" class="blue">App Store</a></p>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------ -->

    <div id="tweetUp" class="overlay light">
      <a class="cancel" href="#exit"></a>
      <div class="popup">
        <h2>TweetUp</h2>
        <div class="content">
          <p>Is an iOS App built in Swift.</p> <p>TweetUp, is an app that allows anyone to add text overlay to their Twitter profile picture and reupload it.</p>
        </div>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>TweetUp</h3>
        <br>
        <a href="#tweetUp"><img class="project-img"src="<%=asset_path('tweetUp.png')  %>"></a>
        <span class="cd-date">Jun 29</span> 
      </div>
    </div>

    <button class="accordion-header" id="expander"><i class="fa fa-ellipsis-h"></i></button>
        <div class="hidden">



    <!-- ------------------------------------------------------------------------------------------------------------------ -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>Zoom-It</h3>
        <br>
        <a href="#zoomIt"><img class="project-img"src="<%=asset_path('zoomIt.png')  %>"></a>
        <span class="cd-date">Jun 24</span> 
      </div>
    </div>

    <div id="zoomIt" class="overlay light">
      <a class="cancel" href="#exit"></a>
      <div class="popup">
        <h2>Zoom-It</h2>
        <div class="content">
          <p>Is an iOS App built in Swift.</p> <p>Zoom-It, allows anyone to take pictures with the ability of pinch to zoom gestures.</p>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------ -->

    <div id="sayIt" class="overlay light">
      <a class="cancel" href="#exit"></a>
      <div class="popup">
         <h2>Say It</h2>
        <div class="content">
          <p>Is an iOS App built in Swift.</p> <p>Say It, gives anyone the ability to create their own soundboard of what ever they want!</p>
        </div>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>Say It</h3>
        <br>
        <a href="#sayIt"><img class="project-img"src="<%=asset_path('sayIt.png')  %>"></a>
        <span class="cd-date">Jun 7</span> 
      </div>
    </div>

    

    <!-- ------------------------------------------------------------------------------------------------------------------ -->


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"><img src="<%=asset_path( 'rocket.svg')%>" alt="Movie"></div>
      <div class="cd-timeline-content">
        <h3>Attended Mobile Makers</h3>
        <p>An 8-Week iOS Bootcamp, where the I learned to build iPhone and iPad apps in a real-world environment through demonstration, discussion, and doing, all under the guidance of expert developers and educators.</p>
        <a href="http://mobilemakers.co/ios-bootcamp/#ios-bootcamp-overview" class="cd-read-more">Read more</a> <span class="cd-date">Sept 28</span> </div>
      </div>



      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
        <div class="cd-timeline-content">
          <h3>Alien Shooter Game </h3>
          <br>
          <a href="https://alien-shooter-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('alien_shooter.png')  %>"></a>
          <span class="cd-date">May 28</span> 
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
        <div class="cd-timeline-content">
          <h3>eCommerce </h3>
          <br>
          <a href="https://ecommerce-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('ecom.png')  %>"></a>
          <span class="cd-date">May 24</span> 
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
        <div class="cd-timeline-content">
          <h3>Workout App</h3>
          <br>
          <a href="https://workout-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('workout.png')  %>"></a>
          <span class="cd-date">May 19</span> 
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
        <div class="cd-timeline-content">
          <h3>Blog</h3>
          <br>
          <a href="http://www.jaycdave.com/posts"target="_blank"><img class="project-img"src="<%=asset_path('blog.png')  %>"></a>
          <span class="cd-date">May 4</span> </div>
        </div>
        

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
            <div class="cd-timeline-content">
              <h3>Recipe Book</h3>
              <br>
              <a href="https://recipe-book-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('recipe.png')  %>"></a>
              <span class="cd-date">April 7</span> </div>
            </div>



            <!-- everything under is hidden -->
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie"><img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
              <div class="cd-timeline-content">
                <h3>Loan Application</h3>
                <br>
                <a href="https://loan-jd.herokuapp.com/"target="_blank"><img class="project-img"src="<%=asset_path('loan.png')%>"></a>
                <span class="cd-date">March 30</span> </div>
              </div>

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Picture"> </div>
                <div class="cd-timeline-content">
                  <h3>Worked at Apple (MindSource, Inc.)</h3>
                  <p>as a:</p>
                  <h6>Software and QA Engineer</h6>
                  <span class="cd-date">Dec 1</span></div>
                </div>

                <div class="cd-timeline-block">
                  <div class="cd-timeline-img cd-picture"> <img src="<%=asset_path( 'rocket.svg')%>" alt="Movie"></div>
                  <div class="cd-timeline-content">
                    <h3>Worked at Dev Bootcamp </h3>
                    <p>as a:</p>
                    <h6> Phase 0 Instructor</h6>
                    <span class="cd-date">Oct 27</span> </div>
                  </div>

                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie"> <img src="<%=asset_path( 'www.svg')%>" alt="Movie"></div>
                    <div class="cd-timeline-content">
                      <h3>Mission-Control-DBC</h3>
                      <br>
                      <a href="https://mission-control-dbc.herokuapp.com/ "target="_blank"><img class="project-img"src="<%=asset_path('mission.png')  %>"></a>
                      <span class="cd-date">Oct 19</span> </div>
                    </div>

                    <div class="cd-timeline-block">
                      <div class="cd-timeline-img cd-movie"><img src="<%=asset_path( 'www.svg')%>" alt="Movie"> </div>
                      <div class="cd-timeline-content">
                        <h3>Out-There</h3>
                        <br>
                        <a href="http://www.out-there.io/" target="_blank"><img class="project-img"src="<%=asset_path('out-there.png')  %>"></a>
                        <span class="cd-date">Sept 26</span></div>
                      </div>

                      <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture"><img src="<%=asset_path( 'rocket.svg')%>" alt="Movie"></div>
                        <div class="cd-timeline-content">
                          <h3>Attended Dev Bootcamp</h3>
                          <p>Intensive educational program concentrating on full stack web development with a focus on Ruby on Rails and an emphasis on engineering empathy.</p>
                          <a href="http://devbootcamp.com/learn-ruby-javascript/overview/" class="cd-read-more">Read more</a> <span class="cd-date">June 2</span> </div>
                        </div>


                        <div class="cd-timeline-block">
                          <div class="cd-timeline-img cd-location"> <img src="<%=asset_path( 'backpack.svg')%>" alt="Movie"> </div>
                          <div class="cd-timeline-content">
                            <h3>Moved to San Francisco</h3>
                            <p>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.”
                              <br> 
                              -Andre Gide </p>
                              <span class="cd-date">Jan 5</span></div>
                            </div>

                          </div>
                        </div>



                      </section>
                    </div>




