<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JD - Personal Business Card</title>
  <%= csrf_meta_tags %>
  <meta name="description" content="Jay C Dave - Personal Business Card">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

  <%= stylesheet_link_tag    'application' %>
</head>

<body>
			<div id="lx-header">
			<div class="container lx-header-warp">
				<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">

					<!-- Logo -->
					<div class="lx-logo">
						<%=image_tag("logo.png")%>
					</div>
					<!-- /Logo -->

					<!-- menu -->
					<div class="lx-main-menu">
						<i class="lnr lnr-menu lx-menu-btn"></i>
						<ul>
							<li class="lx-menu-item active" data-url="home" ><a href="#home" title="home">home <span></span></a></li>
							<li class="lx-menu-item" data-url="about"><a href="#about" title="about">about <span></span></a></li>
							<li class="lx-menu-item" data-url="skills"><a href="#skills" title="skills">skills <span></span></a></li>
							<li class="lx-menu-item" data-url="contact"><a href="#contact" title="contact">contact <span></span></a></li>
						</ul>
					</div>
					<!-- /Menu -->
				</div>
			</div>
			</div>
		</div>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
